<div id="<%= dom_id ql_muon_sach %>">
  <p>
    <strong>Tt:</strong>
    <%= ql_muon_sach.tt %>
  </p>

  <p>
    <strong>Stt:</strong>
    <%= ql_muon_sach.stt %>
  </p>

  <p>
    <strong>Mahs:</strong>
    <%= ql_muon_sach.maHS %>
  </p>

  <p>
    <strong>Hovaten:</strong>
    <%= ql_muon_sach.hoVaTen %>
  </p>

  <p>
    <strong>Lop:</strong>
    <%= ql_muon_sach.lop %>
  </p>

  <p>
    <strong>Masach:</strong>
    <%= ql_muon_sach.maSach %>
  </p>

  <p>
    <strong>Tensach:</strong>
    <%= ql_muon_sach.tenSach %>
  </p>

  <p>
    <strong>Tentacgia:</strong>
    <%= ql_muon_sach.tenTacGia %>
  </p>

  <p>
    <strong>Tusach:</strong>
    <%= ql_muon_sach.tuSach %>
  </p>

  <p>
    <strong>Sobm:</strong>
    <%= ql_muon_sach.soBM %>
  </p>

  <p>
    <strong>Ngaymuon:</strong>
    <%= ql_muon_sach.ngayMuon %>
  </p>

  <p>
    <strong>Ngaytra:</strong>
    <%= ql_muon_sach.ngayTra %>
  </p>

  <p>
    <strong>Songay:</strong>
    <%= ql_muon_sach.soNgay %>
  </p>

  <p>
    <strong>Ghichu:</strong>
    <%= ql_muon_sach.ghiChu %>
  </p>

</div>
