<p style="color: green"><%= notice %></p>

<%= render @ql_muon_sach %>

<div>
  <%= link_to "Edit this ql muon sach", edit_ql_muon_sach_path(@ql_muon_sach) %> |
  <%= link_to "Back to ql muon saches", ql_muon_saches_path %>

  <%= button_to "Destroy this ql muon sach", @ql_muon_sach, method: :delete %>
</div>
